* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
	color: #414141;
	background-color: #f1eee4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Bitter', serif;
	letter-spacing: 0.07rem;
	color: #2b2b2b;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.centeredTitle {
	margin: 1.5rem auto;
	text-align: center;
}

.center {
	margin: auto;
	text-align: center;
}

.sectionSubtitle {
	font-weight: 400;
}

.footer {
	padding: 1rem;
	text-align: center;
}
